.arco {
  display: inline-table;
  
}
div.arco li {
  list-style-type: none;

}
div.arco ul {
  padding: 0; 

}


div.exp {
  display: flex;
  background-color: rgb(199, 199, 199);
  width: 900px;
  justify-content: center;
  border-radius: 10px;

}
.exp p {
  padding-right: 20px;
  font-size: 70%;
}




